.todo-container {
  width: 100%;
  margin: 0.5rem 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* todo text */

.todo-item input {
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.todo-item input:focus {
  outline: 0;
}

.todo-item .todo-text .todo-checkbox {
  margin-right: 0.5rem;
}

.todo-item .todo-text .todo-checkbox i {
  cursor: pointer;
}

/* todo edit & delete icon */
.todo-icons i {
  cursor: pointer;
  padding: 0.3rem;
  font-size: 1.2rem;
}
